.editMessageAttachments-popout {
  flex-direction: row-reverse;
  height: 96px;
  padding: 8px;
  border-radius: var(--radius-lg);
  background-color: var(--background-floating);
  box-shadow: var(--elevation-medium);
  border: 1px solid var(--background-modifier-accent);
  max-width: 479px;
}

.editMessageAttachments-popout,
.editMessageAttachments-uploads {
  display: flex;
}

.editMessageAttachments-uploads {
  gap: 8px;
  padding-right: 8px;
}
